<!-- Head Section -->
<div class="head-section bg">
    <div class="container">
        <h4>Receipt <span class="font-light">Order</span></h4>
        <p>Angushop Receipt order info</p>
    </div>
</div>

<div class="container-page">
    <div class="box-page">
        <!-- Start List -->
        <ul class="row list-justify">
            <li class="col s4">
                Cart
            </li>
            <li class="col s4">
                Delivery
            </li>
            <li class="col s4 active">
                Receipt
            </li>
        </ul>
        <!-- End List -->

        <div class="wrap-receipt">
            <div class="row">
                <div class="col l8 offset-l2 center-align">
                    <h4>Thank You For Your Order</h4>
                    <p>
                        Eripuit equidem recusabo nec et. Eum ex noluisse torquatos. Quod albucius rationibus eos te, mazim doming placerat cu duo, mea utinam suscipiantur ad. Et semper convenire qui.
                    </p>
                    <a mat-button class="btn btn-default" routerLink="/shop/product1">Back to shop</a>
                </div>
            </div>
        </div>
    </div>
</div>