<!-- Start Wrap -->
<div class="wrap" [class.on]="mainclass">
    <app-side (toggle)="mainclass = !mainclass"></app-side>
    <div class="main">
        <router-outlet></router-outlet>
        <!-- Start Footer -->
        <footer>
            <div class="container">
                <p class="margin-bottom0">2019 © Copyright <a href="#" target="_BLANK">Test Shop Angular</a>. All rights Reserved.</p>
            </div>
        </footer>
        <!-- End Footer -->
    </div>
</div>
<!-- End Wrap -->
