<!-- Head Section -->
<div class="head-section bg">
  <div class="container">
    <h4>Product <span class="font-light">Detail</span></h4>
    <p>{{product?.productName}} Product Detail</p>
  </div>
</div>

<!-- Loading -->
<div class="valign-wrapper" *ngIf="loadingState">
  <mat-spinner diameter="50" strokeWidth="5"></mat-spinner>
</div>

<div class="container-page" *ngIf="productState">
  <div class="box-page">
    <h3 class="title">{{product.productName}}</h3>

    <div class="row">
      <div class="col l7 s12">
        <div class="wrap-image">
          <img [src]="productImage" class="img-detail" [alt]="product.productName" />
          <ul>
            <li *ngFor="let image of product.gallery" (click)="selectImage(image)" [class.active]="selectedImage === image">
              <img [src]="image.thumbnail" class="responsive-img" alt="" />
            </li>
          </ul>
        </div>
      </div>
      <div class="col l5 s12">
        <div class="price">
          <div class="row">
            <div class="col m6 s12">
              <h4 class="value text-trans-orig">Original Price: <span class="text-overline">{{product.currency}} {{product.price}}</span></h4>
              <h4 class="text-trans-mem">Member Price : <span class="text-adj">{{product.currency}} {{product.membershipPrice}}</span></h4>
              <p>Availability: {{product.availability}}</p>
              <p>
                SKU: {{product.sku}}
              </p>
            </div>
            <div class="col m6 s12">
            </div>
          </div>
        </div>
        <button [disabled]="procustCount >= product.stock" mat-button class="btn btn-primary" (click)="addCart('products',productsOrder)">
          <mat-icon>&#xE8CC;</mat-icon>Add to cart({{procustCount}})
        </button>


        <h5 class="desc">Description</h5>
        <p class="margin-bottom10">{{product.description}}</p>


      </div>
    </div>
  </div>
</div>
<div class="container m-b">
  <hr class="margin-hr" />
  <div class="row">
    <div class="col-md-6">
      <h2>{{product?.additionalTitle}}</h2>
      <h6 class="add-subti">{{product?.additionalSubtitle}}</h6>
      <p>
        {{product?.additionalDescription}}
      </p>
    </div>
  </div>

</div>
